html{
  margin:0px;
}



.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow:hidden;
}



#loader {    
  --r1: 154%;
  --r2: 68.5%;
  width:60px;
  height:60px;
  border-radius: 50%; 
  background:
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#408184 80%),
    radial-gradient(var(--r1) var(--r2) at bottom,#408184 79.5%,#0000 80%),
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#408184 80%),
    white;
  background-size: 50.5% 220%;
  background-position: -100% 0%,0% 0%,100% 0%;
  background-repeat:no-repeat;
  animation:wave 2s infinite linear;
}
@keyframes wave {
    33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
    66%  {background-position: -100%  66%,0%   66% ,100% 66% }
    100% {background-position:    0% 100%,100% 100%,200% 100%}
}



  

.tabsgrid {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(52, 52, 52, 0.432);
  backdrop-filter: blur(5px);
  color: white;
  position: fixed;
  z-index: 3;
}

.header {
  grid-area: header;
  background-color: black;
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width: 275px;
  color: white;
  margin-right:200px;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:200px;
}

.tabs a {
  color: white;
  font-size: 22px;
  text-decoration: none;
  font-weight:350;
}

a.tabsgrid:hover {
  color: gray;
}

a:hover {
  color: gray;
}


.name img {
  width: 60px;
  height:auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .mobileHeader
  {
    height:48px;
    width:92vw;
    justify-content: space-between;
    top:0;
    position: fixed;
    color:white;
    display:none;
    background-color: rgba(52, 52, 52, 0.714);
    backdrop-filter: blur(10px);
    border-radius:100px;
    border-style: solid;
    border-color: rgb(41, 41, 41);
    border-width: 1px;
    margin-top:12px;
    margin-left:4vw;
    margin-right:4vw;
    z-index: 3;
    box-shadow: 0px 18px 28px -10px rgba(0,0,0,0.73);
  }
  
  .closeIcon {
    display: none;
    z-index: 90;
  }
  
  .closeIcon img{
    max-width:24px;
    max-height:24px;
  }
  
  
.mobilemenuopen{
  position: absolute;
  transform: translateY(-105%);
  transition: transform 0.4s;
  margin-top:0px;
  margin-left:-100px !important;
  margin-right: -100px !important;
  padding-top:100px;
  padding-left:0px;
  padding-right:0px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.926);
  color: white;
  list-style: none;
  display: flex;
  flex-direction:column;
  align-items: center;
  align-content: center;
  justify-self: center;
  border:0px;
  margin-top: -18px;
  height:110vh;
}
  
  .mobilemenu{
    width:40px;
    height:40px;
    padding:0px;
    display:flex;
    margin-right:10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #0000;
    border: none;
    z-index: 50;
  }
  
  .mobilemenu img{
    height:32px;
    width:32px;
  }
  
  
  #mobilename {
    justify-self: flex-start;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  #mobilename img {
    width: 80px;
    height:auto;
    padding:25px;
  }
  
  
  .mobilemenuopen a{
    text-decoration: none;
    color: white;
    font-size:28px;
    align-self:center;
    margin-left: auto;
    margin-right:auto;
  }
  
  .mobilemenuopen li{
    margin:25px;
  }


.mobilemenuopen li{
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  width:100vw;

}
  
  .showMenu {
    transform: translateY(0);
  }
  

body{
    height:100%;
    background-color: black;
    margin: 0px;
    padding:0px;
    font-family: leagueSpartan;
    min-height:100vh;
    background-image: url("images/topobgtest1.png");
    background-position-x:-300px;
    background-position-y: -300px !important;
    background-color: #050B0E;
    background-repeat: no-repeat;
    background-size: fill;
    
    }



  #aboutPage{
    color: white;
    padding-top:50px;
    margin-bottom:0px;
    width:100%;
    margin-bottom:150px;  
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #aboutPage h1{
    color: white;
    font-size:52px;
    font-weight: 600;
    }

    #aboutPage h2{
      color: white;
      font-size:42px;
      font-weight: 400;
      }

    #aboutPage h3{
      color: white;
      font-size:30px;        
      font-weight: 400;
      }
  
      #aboutPage a{
        text-decoration: none;
      }

      #aboutTitle{
        margin-top:25px;
        width:1000px;
      }

  #aboutContent{
    display:flex;
    margin-top:25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:auto;
    width:1000px;
}

#aboutImg{
  border-radius: 20px;
  width:auto;
  max-height:auto;
  
}

#aboutImg img{
  border-radius: 15px;
  margin-right:100px;
  margin-left:0px;
  object-fit: contain;
  width:auto;
  height:800px;
}


  #aboutText {
    display:flex;
    align-items: center;
    height: 100%;
    padding:0px 25px 0px 0px;
    border-radius: 30px;

    max-height:auto;
    margin-top:50px;
  }

  .line{
    background-color: #408184;
    height:4px;
    width:100px;
    margin-left:15px;
  }
  
  .line2{
    background-color: #408184;
    height:4px;
    width:100px;
    margin-left:0 !important;
    margin-bottom: 50px;
    margin-top:-10px;
  }
  

  #aboutText p{
  margin:50px 25px 25px 15px;
  font-weight: 350;
  line-height:28px;
  font-size: 20px;
  height: 100%;
  }

  #values
  {
    margin-top:120px;
    width:1000px;
  }





  .bigvalue{
    display:flex;
    flex-direction: column;
    margin-bottom:100px;
    margin-top:100px;
    margin-left:0px;
  }

  .bigvaluetext{
    border-radius: 30px 0px 0px 30px;

    margin:0px 0px 0px 0px;
    margin-top:-25px;
  }

  .bigvaluetext p{
    margin-top:25px;
    font-weight: 300;
    line-height:28px;
    font-size: 22px;
    max-width: 100%;
    height: 100%;
  }

strong{
  font-weight:500px;
}
  .valuecard h1{
    font-weight:300;
    color:black;
  }

  .bigvalue .valuecard{
  flex-direction: row-reverse;
  padding:0px;
  margin:0;
  margin-left:0px;
  }

  #valuetitle {
    font-weight:400 !important;
    color:white;
    font-size:52px !important; 
    line-height:52px !important;
    margin-bottom:30px;
  }

.value{
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: space-between;
  align-content: space-between;
  justify-items: space-between;
  gap:50px;
  margin-top:100px;
  margin-bottom:100px;
  display:none;
  margin-left:0px;
}



.valuecard{
  width:100%;
  display: flex;
  flex-direction: row-reverse;
  align-items:center;
  gap:75px;
  height:auto;
  border-radius: 30px;
  margin-left:0px;
}

.imagestack{
  display: flex;
  flex-direction: column;
  gap:25px;
  justify-content: space-between;

}

.imagestack img
{
  object-fit: cover;
  border-radius:30px;
  width:150px;
  height:150px;
}

.value h3{
  margin-top:15px;
  margin-bottom:0;
}

.value p{
  margin-bottom:0;
}

.valueimg{
  height:100%;
  margin:0px;
  padding:0px;
  object-fit: fill;
}

.valueimg img{
  height:100%;
  width:150px;
  object-fit: cover;
  border-radius: 30px 0px 0px 30px;
}

.writings{
  display:flex;
  gap:50px;
  margin-bottom:50px;
  margin-top: 25px;
  width:1000px;

}

.writings a{
  text-decoration: none;
  color: white;
}

a .writing{
  display:flex;
  height:150px;
  padding:0px;
  gap:25px;
  border-radius:20px;
  align-items: center;
  width:475px;
  backdrop-filter: blur(5px);
  border-color: #cb3939 !important;
  stroke-width: 1px;
  transition-duration: 0.3s; 
  transition-timing-function: ease; 
}

.writing:hover{
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 5px 5px 18px 4px rgba(0, 0, 0, 0.333);
  transition: 0.5s;
}

.writingtag{
  background-color: #6f6f6f74;
  padding:12px 10px 8px 10px;
  margin:0px 15px 0px 0px;
  border-radius: 8px;
  display: inline-block;
}

.writing img{
  height:150px;
  width:150px;
  object-fit: cover;
  border-radius: 15px;
}

.writing a{
text-decoration: none;
}

.writing h4{
margin-bottom:10px;
margin-top:0px;
font-size:20px;
font-weight: 400;
line-height: 1.2;
}

.mobilewritings{
  display:none;
}

#footer{
  height:300px;
  background-color: #131313;
  color: white;
  padding-left: 20%;
  padding-right:20%;
  display: flex;
  margin-top:auto;
}

#footer h2
{
  font-weight:400;
  margin-bottom:25px;
  font-size:28px;
}

#footer h3
{
  font-weight:400;
  margin-top:25px;
}

#footerimg{
  height:175px;
  width:225px;
  margin-right: 50px;
  margin-top:50px;
  border-radius:30px;
}

#footer a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}


#footer a:hover{
  filter: brightness(60%)
}
#allFooterText
{
width:100%;
margin-top:50px;
}

#footerTitle{
  font-size:32px;
  background-color: #131313;
}

#footerText
{
  width: auto;  
  display:flex;
  justify-content: space-between;
  margin-top:25px;
}
@media screen and (max-width: 850px) {

  .tabsgrid {
    display:none;
  }


  .mobileHeader{
    display:flex
  }
  
  .mobilemenu{
    width:50px;
    height:50px;
    padding:25px;
    display:flex;
    margin:25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #0000;
    border: none;
    z-index: 50;
  }



  #mobilename {
    justify-self: flex-start;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .mobilemenu img{
    height:36px;
    width:36px;
  }
  
  #mobilename img {
    width: 60px;
    height:auto;
    padding:25px;
  }
  

  
#body{
  height:100%;
  margin-left:0px !important;
  margin-right:0px !important;
  max-width:100% !important;
  background-color:  rgb(0, 13, 14);
  margin: 0px;
  font-family: leagueSpartan;
  padding: 0px !important;
  overflow-x: hidden;
}

body{
  height:100%;
  background-color: rgb(0, 13, 14);
  font-family: leagueSpartan;
  background-image: url("images/topobgmobile.png");
  background-position-y:0px;
  background-position-x:0px;
  background-attachment:scroll !important;
  display: flex;
  flex-direction: column;  
  align-items: center;
  min-height:100vh;
  padding: 50px 0px 0px 0px !important;
  left:0px;
  right:0px;
  overflow-x: hidden;
  width:100vw;
  }

#aboutPage{
  display: flex;
  flex-direction:column;
  align-items: center;
  color: white;
  width:auto;
  padding-left:12px !important;
  padding-right:12px !important;
  padding-top:75px;
  max-width:100%;
  background-image: url("images/topobgmobile.png");
  background-repeat:repeat-y !important;
}
#aboutPage p{
  font-weight: 350;
  line-height:26px;
  font-size: 14px;
}

#aboutPage h1{
  color: white;
  font-size:42px;
  font-weight: 600;

  }

  #aboutPage h2{
    color: white;
    font-size:42px;
    font-weight: 400;
    justify-self: start;
    align-self: start;
    margin-left:0px;
    }



#aboutContent{
  display:flex;
  margin-top:0px;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin-bottom:48px;
}

#aboutImg{
  margin:0px;
}

#aboutContent img{
  width:50vw;
  height:auto;
  border-radius: 10px;
  margin:48px 0px 36px 0px;
}

#aboutText {
  display:flex;
  flex-direction: column-reverse;
  background-color: #252525;
  height: 100%;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  max-height:auto;
  margin:0px;
  min-width:0px;
  padding:0px;
}

#aboutTitle{
  align-self: flex-start;
  padding-left:0px;
  margin-top:25px;
}

#aboutContent p{
font-size:18px;
line-height:28px;
}

#values{
  margin:0px;
}

.bigvalue{
  margin-top:24px;
}

#valuetitle {
  font-weight:350 !important;
  color:white;
  font-size:42px !important; 
  margin:24px 18px 0px 18px !important;
  line-height:48px !important;
}

.bigvaluetext{
margin:0px;
padding:0px;
font-size: 22px !important;
}

.bigvaluetext p{
  font-size: 18px !important;
}

.mobilewritings
{
  display:flex;
  flex-direction: column;
  gap:40px;
  margin-bottom:40px;
  margin-top: 25px;
}

.writing{
  display:flex;
  background-color: #353535ba;
  height:auto;
  width:auto;
  padding:25px;
  gap:25px;
  border-radius:20px;
  align-items: center;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
  background-color: #2d2d2d98;
  backdrop-filter: blur(5px);
}

.writing h4{
  margin-bottom:10px;
  margin-top:0px;
  font-size:18px;
  font-weight: 350;
  line-height: 22px;
  }

.writings{
  display:none;
}

#footer{
  height:auto;
  width:91%;
  background-color: #131313;
  color: white;
  display: flex;
  padding-left:20px;
  padding-right:20px;
  flex-wrap: wrap;
  overflow-x: hidden;
}

#footerTitle{
  font-size:26px;
  background-color: #131313;
}
#footer h2
{
  font-weight:400;
  margin-top:42px;
  font-size:20px;
  margin-bottom:12px;
  background-color: #131313;
}

#footer h3
{
  font-weight:400;
  margin-top:42px;
  font-size:18px;
  margin-bottom:64px;
  background-color: #131313;

}

#footerimg{
  display:none;
}

#footer a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  background-color: #131313;
}


#footer a:hover{
  filter: brightness(60%)
}
#allFooterText
{
  
width:100%;
margin-top:32px;
background-color: #131313;
}

#footerTitle{
  width:auto;
  background-color: #131313;
}

#footerText
{
  width: auto;  
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top:12px;
  background-color: #131313;
}


}

@media screen and (max-width: 850px) {

  .tabsgrid {
    display:none;
  }


  .mobilemenu{
    width:50px;
    height:50px;
    margin:0px 10px 0px 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #0000;
    border: none;
    z-index: 50;
    
  }
  


  #mobilename {
    justify-self: flex-start;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  

  .mobilemenu img{
    height:32px;
    width:32px;
  }

  #mobilename img {
    width: 45px;
    height:auto;
    padding:25px;
  }
 
  


}

@media screen and (min-width: 850px) and (max-width: 1700px){

  #footer{
    height:300px;
    background-color: #131313;
    color: white;
    padding-left: 15%;
    padding-right:15%;
    display: flex;
    align-items: space-evenly;
  }
}




@media screen and (min-width: 850px) and (max-width: 1550px)
{
  #aboutPage{
    width:auto;
    display: flex;
    flex-direction:column;
    color: white;
    padding-top:150px;
    margin-bottom:150px;
  }

  body{
    background-position-x:-200px;
    background-position-y: -300px !important;
    background-color: #050B0E;
    background-repeat: no-repeat;
    background-size: cover;
    
  }


  #aboutContent{
    display:flex;
    margin-top:0px;
    max-width:1000px;
  }

  #aboutImg img{
    border-radius: 30px;
    margin-right:50px;
    object-fit: contain;
    width:auto;
    height:600px;
    margin-bottom:-4px !important;
  }

}


@media screen and (min-width: 1550px) and (max-width: 1850px){
  #aboutPage{
    display: flex;
    flex-direction:column;
    color: white;
    padding-top:150px;
    margin-bottom:150px;
  }
  #aboutImg img{
    border-radius: 30px;
    margin-right:50px;
    object-fit: contain;
    width:auto;
    height:600px;
    margin-bottom:-4px !important;

  }


  body{
    background-position-x:-200px;
    background-position-y: -300px !important;
    background-color: #050B0E;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
}

@media screen and (min-width: 1850px)and (max-width: 2150px){
  #aboutPage{
    margin-left:25%;
    margin-right:25%;
    width:auto;
    display: flex;
    flex-direction:column;
    color: white;
    padding-top:150px;
    margin-bottom:150px;
  }
  #aboutImg img{
    border-radius: 30px;
    margin-right:50px;
    object-fit: contain;
    width:auto;
    margin-bottom:-4px !important;
    height:600px;
  }
  body{
    background-position-x:-200px;
    background-position-y: -300px !important;
    background-color: #050B0E;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
}
  @media screen and (min-width: 2150px){
    #aboutPage{
      margin-left:30%;
      margin-right:30%;
      width:auto;
      display: flex;
      flex-direction:column;
      color: white;
      padding-top:150px;
      margin-bottom:300px;
    }

    #aboutContent{
      margin-top:50px;
    }
    #aboutImg img{
      border-radius: 30px;
      margin-right:50px;
      margin-top:0px;
      margin-bottom:-4px !important;
      object-fit: contain;
      width:auto;
      height:600px;
    }
}