.tabsgrid {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 100px auto 550px;
    grid-template-areas: "name header tabs";
    background-image: linear-gradient(black, transparent);
    color: white;
    padding-right: 200px;
    position: fixed;
  
  }
  
  .header {
    grid-area: header;
    background-color: black;
  }
  
  .tabs {
    grid-area: tabs;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    max-width: 450px;
    color: white;
    margin-right: 250px;
  }
  
  
  .tabs a {
    color: white;
    font-size: 22px;
    text-decoration: none;
    font-weight:500;
  }
  
  a.tabsgrid:hover {
    color: gray;
  }
  
  a:hover {
    color: gray;
  }
  
  
  .name {
    grid-area: name;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
  }
  
  .name img {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  


body{
    height:100%;
    background-color: black;
    margin: 0px;
    font-family: leagueSpartan;
    background-image: url("images/topobg.jpeg");
    background-position-y:-700px;
    display: flex;
    flex-direction: column;  }

  #aboutPage{
    margin-left:30%;
    margin-right:30%;
    display: flex;
    flex-direction:column;
    color: white;
    padding-top:100px;
    margin-bottom:150px;
  }
 #aboutPage p{
    font-weight: 350;
    line-height:26px;
    font-size: 18px;
  }

  #aboutPage h1{
    color: white;
    font-size:52px;
    font-weight: 600;
    }

  
#aboutContent{
    display:flex;
    margin-top:25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#aboutContent img{
    align-self: flex-start;
    width:300px;
    height:auto;
    border-radius: 10px;
    margin-right:50px;
}

#aboutContent p{
font-size:22px;
line-height:28px;
}

#footer{
  height:300px;
  background-color: #131313;
  color: white;
  padding-left: 20%;
  padding-right:20%;
  display: flex;
}

#footer h2
{
  font-weight:400;
  margin-bottom:25px;
  font-size:28px;
}

#footer h3
{
  font-weight:400;
  margin-top:25px;
}

#footerimg{
  height:175px;
  width:225px;
  margin-right: 50px;
  margin-top:50px;
  border-radius:30px;
}

#footer a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}


#footer a:hover{
  filter: brightness(60%)
}
#allFooterText
{
width:100%;
margin-top:50px;
}

#footerTitle{
  width:auto;
}

#footerText
{
  width: auto;  
  display:flex;
  justify-content: space-between;
  margin-top:25px;
}

@media screen and (max-width: 1700px){

  #footer{
    height:300px;
    background-color: #131313;
    color: white;
    padding-left: 15%;
    padding-right:15%;
    display: flex;
    align-items: space-evenly;
  }
  


}

@media screen and (max-width: 1900px){
#aboutPage{
  margin-left:20%;
  margin-right:20%;
  display: flex;
  flex-direction:column;
  color: white;
  padding-top:100px;
  margin-bottom:150px;
}
}