html{
scroll-behavior: smooth;
}


.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow:hidden;
}



#loader {    
  --r1: 154%;
  --r2: 68.5%;
  width:60px;
  height:60px;
  border-radius: 50%; 
  background:
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#408184 80%),
    radial-gradient(var(--r1) var(--r2) at bottom,#408184 79.5%,#0000 80%),
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#408184 80%),
    white;
  background-size: 50.5% 220%;
  background-position: -100% 0%,0% 0%,100% 0%;
  background-repeat:no-repeat;
  animation:wave 2s infinite linear;
}
@keyframes wave {
    33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
    66%  {background-position: -100%  66%,0%   66% ,100% 66% }
    100% {background-position:    0% 100%,100% 100%,200% 100%}
}



.tabsgrid {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 100px auto 550px;
    grid-template-areas: "name header tabs";
    background-image: linear-gradient(black, transparent);
    color: white;
    padding-right: 200px;
    position: fixed;
    z-index: 2;
  
  }
  
  .header {
    grid-area: header;
    background-color: black;
  }
  
  .tabs {
    grid-area: tabs;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    max-width: 450px;
    color: white;
    margin-right: 250px;
  }
  
  
  .tabs a {
    color: white;
    font-size: 22px;
    text-decoration: none;
    font-weight:500;
  }
  
  a.tabsgrid:hover {
    color: gray;
  }
  
  a:hover {
    color: gray;
  }
  
  
  .name {
    grid-area: name;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
  }
  
  .name img {
    width: 80px;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobileHeader
  {
    height:100px;
    width:100vw;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(black, transparent);
    position: fixed;
    z-index: 2;
    color:white;
    display:none;
  }
  
  .closeIcon {
    display: none;
    z-index: 90;
  }
  
  .closeIcon img{
    max-width:24px;
    max-height:24px;
  }
  
  .mobilemenuopen{
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.90);
    color: white;
    list-style: none;
    display: flex;
    flex-direction:column;
    align-items: center;
    max-width:100%;
    padding-right:50px;
  }
  
  
  .mobilemenu{
    width:50px;
    height:50px;
    padding:25px;
    display:flex;
    margin:25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #0000;
    border: none;
    z-index: 50;
  }
  
  .mobilemenu img{
    height:48px;
    width:48px;
  }
  
  #mobilename {
    justify-self: flex-start;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  #mobilename img {
    width: 80px;
    height:auto;
    padding:25px;
  }
  
  
  .mobilemenuopen a{
    text-decoration: none;
    color: white;
    font-size:28px;
    align-self:center;
    margin-left: auto;
    margin-right:auto;
  }
  
  .mobilemenuopen li{
    margin:25px;
  }
  
  .showMenu {
    transform: translateY(0);
  }
  
  
  body{
    background-color: white;
    margin: 0px;
    font-family: leagueSpartan;
  }
  
  #foodtruckLandingPage{
    background-image: linear-gradient(90deg, black 200px, transparent 50%), url("images/foodTruckLanding.png");
    background-size:cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 0px center, 200px center;
    height: 100vh;
    display:flex;
    flex-direction: row;
    align-items: left;
    justify-content: flex-start;    
    color: white;
    padding-left:15%;
    padding-top: 85px;
}

#foodtruckLandingPage h1{
    font-size: 52px;
    font-weight: 600;
}

#foodtruckLandingPage h2{
    font-size: 42px;
    font-weight: 400;
    margin-top: -15px;  
    max-width:35vw;
}

#projectInfo{
    margin-top:-5px;
    max-width:40vw;
    line-height:25px;
}

.projectDetail 
{
    margin-top: 60px;
    line-height:20px;
}

.projectDetail h3{
    font-size:24px;
    font-weight:400;
    line-height:1px;
}


#landingPageText{
  display: flex;
  flex-direction: column;
  max-width:50vw;
}

#foodtruckLandingPage p{
  font-size: 18px;
  font-weight:350;
}

#landingImage{
  height:850px; 
  width: auto; 
  margin-left: 250px; 
  position:absolute;
  right:15vw;
  top:10vh;
}  

#challenge{
    background-color: #EDEDED;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    margin-bottom:100px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

#challenge img{
    height:200px;
    width: auto;
    border-radius: 10px;
    margin-left: 40px;
}

#challenge p{
    line-height:20px;
}

.painPoints{
    margin-left:50px;
}

#foodtruckCaseStudy{
    margin-left:30%;
    margin-right:30%;
    padding-top:150px;
}

#foodtruckCaseStudy p{
    font-weight: 350;
    line-height:26px;
    font-size: 18px;
}

#foodtruckCaseStudy h1{
    font-size: 32px;
    font-weight: 550;
}

#foodtruckCaseStudy h2{
    font-size:28px;
    font-weight:450;
}

#foodtruckCaseStudy h3{
    font-size:22px;
    font-weight: 550;
}

strong{
    font-weight:600;
}

#journeymap{
  height:455px;
  width:auto;
}

#foodtrucksflow{
  height:auto; width: 500px; margin-left: auto; margin-right: auto;
}

#finalDesigns{
  margin-left:23%;
  margin-right:23%;
  margin-top:100px;
}
#finalDesigns p{
  font-weight: 350;
  line-height:26px;
  font-size: 18px;
}

#finalDesigns h1{
  font-size: 32px;
  font-weight: 550;
}

#finalDesigns h2{
  font-size:28px;
  font-weight:450;
}

#finalDesigns h3{
  font-size:22px;
  font-weight: 550;
}

.designShowcaseR
{
  display: flex;
  align-items: center;
  margin-top:100px;
}

.designShowcase
{
  display: flex;
  align-items: center;
  margin-top:50px;
}

.designShowcase img {
max-width:200px;
}

.designShowcaseR img
{
max-width:250px;
} 

.designShowcaseR p{
  margin-right:50px;
}

.designShowcaseR h3{
  margin-right:50px;
}


.designShowcaseL
{
  display: flex;
  align-items: center;
  margin-top:100px;
}

.designShowcaseL img
{
max-width:250px;
} 


.designShowcaseL p{
  margin-left:50px;
}

.designShowcaseL h3{
  margin-left:50px;
}
#footer{
  height:300px;
  background-color: #131313;
  color: white;
  padding-left: 20%;
  padding-right:20%;
  display: flex;
}

#footer h2
{
  font-weight:400;
  margin-bottom:25px;
  font-size:28px;
}

#footer h3
{
  font-weight:400;
  margin-top:25px;
}

#footerimg{
  height:175px;
  width:225px;
  margin-right: 50px;
  margin-top:50px;
  border-radius:30px;
}

#footer a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}


#footer a:hover{
  filter: brightness(60%)
}
#allFooterText
{
width:100%;
margin-top:50px;
}

#footerTitle{
  width:auto;
}

#footerText
{
  width: auto;  
  display:flex;
  justify-content: space-between;
  margin-top:25px;
}
@media screen and (max-height: 800px) and (max-width: 1700px) and (min-width:900px) {

  #foodtruckLandingPage{
    background-image: linear-gradient(90deg, black 300px, transparent 60%), url("images/foodTruckLanding.png");
    background-size:cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 0px center, 250px center;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;    
    color: white;
    padding-left:15%;
    padding-top: 10vh !important;
}

#foodtruckLandingPage h1{
    font-size: 44px !important;
    font-weight: 600;
}

#foodtruckLandingPage h2{
    font-size:28px !important; 
    font-weight: 400;
    margin-top: -15px; 
    max-width:40vw; 
}

#projectInfo{
    margin-top:5px;
    max-width:35vw;
    line-height:22px;
}


.projectDetail 
{
    margin-top: 40px !important;
    line-height:20px;
}

.projectDetail h3{
    font-size:22px !important;
    font-weight:400;
    line-height:0.1px;
}

.projectDetail p{
font-size: 16px !important;
}


#landingPageText{
    display: flex;
    flex-direction: column;
}
  
#landingImage{
  height:675px; 
  width: auto; 
  margin-left: 250px; 
  position:absolute;
  right:9vw;
  top:9vh;
  bottom:5vh;
}  
}
@media screen and (max-width: 850px) {

  .tabsgrid {
    display:none;
  }


  .mobileHeader{
    display:flex
  }
  
  .mobilemenu{
    width:50px;
    height:50px;
    padding:25px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .mobilemenu img{
    height:48px;
    width:48px;
  }

  #mobilename {
    justify-self: flex-start;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  #mobilename img {
    width: 80px;
    height:auto;
    padding:25px;
  }
  
  #foodtruckLandingPage{
    background-image: linear-gradient(90deg, black 150px, transparent 90%), url("images/foodTruckLanding.png") !important;
    background-size:cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 0px center, -100px center !important;
    height: 100vh;
    width:100% !important;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;    
    color: white;
    padding-left:20px !important;
    padding-top: 15vh;
    scroll-snap-align: start;

}

#foodtruckLandingPage h1{
    font-size: 34px !important;
    font-weight: 600;
}

#foodtruckLandingPage h2{
    font-size: 22px !important;
    font-weight: 400;
    margin-top: -15px;  
    max-width:400px !important;
}

#foodtruckLandingPage img{
    position: absolute;
    left: calc(50% - 30px) ;
    bottom: 10px;
    height:60px;
    width:60px;
  }

  #foodtruckLandingPage p{
    font-size: 16px;
    font-weight:350;
  }
  

#landingPageText{
  max-width:100% !important;
  }

#projectInfo{
    margin-top:20px;
    max-width:100vw !important;
    line-height:25px;  
  }

.projectDetail 
{
    margin-top: 40px !important;
    line-height:20px;
    max-width:100% !important;
}

.projectDetail h3{
    font-size:20px !important;
    font-weight:400;
    line-height:1px;
}

.projectDetail p{
  font-size:16px !important;
}

#landingImage{
  display:none;
}

#foodtruckCaseStudy{
    margin-left:20px !important;
    margin-right:20px !important;
    padding-top:100px;
    background-color: white;

}

#challenge{
  background-color: #EDEDED;
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
  margin-bottom:100px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#challenge p{
  line-height:20px;
}

#challenge img{
  justify-self:center ;
  margin:0px;
}

#foodtruckCaseStudy p{
  font-weight: 350;
  line-height:26px;
  font-size: 18px;
}

#foodtruckCaseStudy h1{
  font-size: 32px;
  font-weight: 550;
}

#foodtruckCaseStudy h2{
  font-size:28px;
  font-weight:450;
}

#foodtruckCaseStudy h3{
  font-size:22px;
  font-weight: 550;
}

#foodtruckCaseStudy ul{
  line-height:28px;
  font-size:16px;
  }

strong{
  font-weight:600;
}

#journeymap{
  width:95%;
  height:auto;
}

#foodtrucksflow{
  height:auto; width: 95%;
}


#finalDesigns{
  margin:20px !important;
}

.designShowcase
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:50px;
}

.designShowcaseR
{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top:100px;
}


.designShowcaseR img
{
max-width:250px;
margin-bottom:20px;
} 

.designShowcaseR p{
  margin-right:0px;
}

.designShowcaseR h3{
  margin-right:0px;
}


.designShowcaseL
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:100px;
}

.designShowcaseL img
{
max-width:250px;
margin-bottom:20px;
} 
.designShowcaseL p{
  margin-left:0px !important;
}

.designShowcaseL h3{
  margin-left:0px !important;
}



#footer{
  height:300px;
  background-color: #131313;
  color: white;
  padding-left:20px !important;
  padding-right:20px !important;
  display: flex;
  flex-wrap: wrap;
  margin-top:12px;
  margin-left:-20px;
}

#footerTitle{
  font-size:26px;
  margin-left:20px;
}
#footer h2
{
  font-weight:400;
  margin-top:42px;
  font-size:20px;
  margin-bottom:12px;
}

#footer h3
{
  font-weight:400;
  margin-top:42px;
  font-size:18px;
  margin-bottom:64px;
}

#footerimg{
  display:none;
}

#footer a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}


#footer a:hover{
  filter: brightness(60%)
}
#allFooterText
{
  
width:100%;
margin-top:32px;
background-color: #131313;
width:100vw !important;

}

#footerTitle{
  width:auto;
  background-color: #131313;
}

#footerText
{
  width: auto;  
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left:20px;
  margin-top:12px;
  background-color: #131313;
  width:100% !important;

}

}

  @media screen and (max-width: 1700px){

    #footer{
      height:300px;
      background-color: #131313;
      color: white;
      padding-left: 15%;
      padding-right:15%;
      display: flex;
      align-items: space-evenly;
    }
    
  
  
  }
  
  @media screen and (max-width: 1625px){
  
    #foodtruckLandingPage{
      background-image: linear-gradient(90deg, black 300px, transparent 60%), url("images/foodTruckLanding.png");
      background-size:cover;
      box-sizing: border-box;
      background-repeat: no-repeat;
      background-position: 0px center, 250px center;
      height: 100vh;
      display:flex;
      flex-direction: column;
      align-items: left;
      justify-content: flex-start;    
      color: white;
      padding-left:15%;
      padding-top: 10vh !important;
  }
  
  #foodtruckLandingPage h1{
      font-size: 48px;
      font-weight: 600;
  }
  
  #foodtruckLandingPage h2{
      font-size: 32px;
      font-weight: 400;
      margin-top: -15px; 
      max-width:40vw; 
  }
  
  #projectInfo{
      margin-top:5px;
      max-width:35vw;
      line-height:22px;
  }
  
  
  .projectDetail 
  {
      margin-top: 50px;
      line-height:20px;
  }
  
  .projectDetail h3{
      font-size:24px;
      font-weight:400;
      line-height:0.1px;
  }
  
  #landingPageText{
      display: flex;
      flex-direction: column;
  }
    
  #landingImage{
    height:675px; 
    width: auto; 
    margin-left: 250px; 
    position:absolute;
    right:9vw;
    top:9vh;
    bottom:5vh;
  }  
  
  #foodtruckCaseStudy{
    margin-left:25%;
    margin-right:25%;
  }

  #finalDesigns{
    margin-left:200px;
    margin-right:200px;
    margin-top:100px;
  }
  
  
  
  
  

  
  }
  
  
  @media screen and (min-width: 1900px){
  
    #foodtruckLandingPage{
      background-image: linear-gradient(90deg, black 250px, transparent 55%), url("images/foodTruckLanding.png");
      background-size:cover;
      box-sizing: border-box;
      background-repeat: no-repeat;
      background-position: 0px center, 200px center;
      height: 100vh;
      display:flex;
      flex-direction: column;
      align-items: left;
      justify-content: flex-start;    
      color: white;
      padding-left:15%;
      padding-top: 15vh;
      scroll-snap-align: start;
  }
  
  #foodtruckLandingPage h1{
      font-size: 52px;
      font-weight: 600;
  }
  
  #foodtruckLandingPage h2{
      font-size: 42px;
      font-weight: 400;
      margin-top: -15px;  
  }
  
  #foodtruckLandingPage p{
    font-size: 20px;
    font-weight:350;
  }
  
  
  #projectInfo{
      margin-top:10px;
      max-width:40vw;
      line-height:25px;
    }
  
  .projectDetail 
  {
      margin-top: 60px;
      line-height:24px;
  }
  
  .projectDetail h3{
      font-size:28px;
      font-weight:400;
      line-height:1px;
  }
  
  #landingImage{
    height:900px; 
    width: auto; 
    margin-left: 250px; 
    position:absolute;
    right:15vw;
    top:8vh;
  }  

  
  #foodtruckCaseStudy{
    margin-left:28%;
    margin-right:28%;
  }
  
  #journeymap{
    height:auto;
    width:100%;
  }
  
  
  
  #finalDesigns{
    margin-left:20vw;
    margin-right:20vw;
    margin-top:100px;
  }
  
  

  
  #finalDesigns img {
    max-width:290px;
  }
  
  
  }

  @media screen and (min-width: 2250px){

    #foodtruckLandingPage{
      background-image: linear-gradient(90deg, black 250px, transparent 50%), url("images/foodTruckLanding.png");
      background-size:cover;
      box-sizing: border-box;
      background-repeat: no-repeat;
      background-position: 0px center, 200px center;
      height: 100vh;
      display:flex;
      flex-direction: column;
      align-items: left;
      justify-content: flex-start;    
      color: white;
      padding-left:14vw;
      padding-top: 15vh;
      scroll-snap-align: start;
  }
  
  #foodtruckLandingPage h1{
      font-size: 54px;
      font-weight: 600;
  }
  
  #foodtruckLandingPage h2{
      font-size: 44px;
      font-weight: 400;
      margin-top: -15px;  
  }
  
  #foodtruckLandingPage p{
    font-size: 22px;
    font-weight:350;
  }
  
  
  
  #projectInfo{
      margin-top:35px;
      width:30vw;
      line-height:27px;
    }
  
  .projectDetail 
  {
      margin-top: 60px;
      line-height:26px;
  }
  
  .projectDetail h3{
      font-size:28px;
      font-weight:400;
      line-height:4px;
  }
  
  #foodtruckCaseStudy{
    margin-left:28%;
    margin-right:28%;
  }
  
  #landingImage{
    height:1000px; 
    width: auto; 
    margin-left: 250px; 
    position:absolute;
    right:15vw;
    top:10vh;
  }  

  .statistic img{
    height:auto;
    width:375px;
    margin-left: 50px;
  }
  
  #foodtruckdata1{
    margin-top: 25px;
    margin-right:auto;
   }
   
   #foodtruckdata2{
     margin-top: 25px;
   }
   
   #foodtruckdata3{
   
   margin-top:50px;
  width:100%;
   height:auto;
   }
  
   #finalDesigns{
    margin-left:25vw;
    margin-right:25vw;
  }
  
  #finalDesigns img {
    max-width:290px;
  }
  
  }
  