html{
scroll-behavior: smooth;
}


.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow:hidden;
}



#loader {    
  --r1: 154%;
  --r2: 68.5%;
  width:60px;
  height:60px;
  border-radius: 50%; 
  background:
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#408184 80%),
    radial-gradient(var(--r1) var(--r2) at bottom,#408184 79.5%,#0000 80%),
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#408184 80%),
    white;
  background-size: 50.5% 220%;
  background-position: -100% 0%,0% 0%,100% 0%;
  background-repeat:no-repeat;
  animation:wave 2s infinite linear;
}
@keyframes wave {
    33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
    66%  {background-position: -100%  66%,0%   66% ,100% 66% }
    100% {background-position:    0% 100%,100% 100%,200% 100%}
}



.tabsgrid {
  width:60vw;
  height: 55px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(33, 33, 33, 0.714);
  backdrop-filter: blur(10px);
  border-radius:100px;
  border-style: solid;
  border-color: rgba(58, 58, 58, 0.796);
  border-width: 1px;
  margin-top:15px;
  left: 20vw;
  margin-right:auto;
  color: white;
  position: fixed;
  z-index: 3;
  box-shadow: 0px 18px 28px -10px rgba(0,0,0,0.73);
}


.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width: 275px;
  color: white;
  margin-right:50px;
}


.tabs a {
  color: white;
  font-size: 22px;
  text-decoration: none;
  font-weight:350;
}

a.tabsgrid:hover {
  color: gray;
}

a:hover {
  color: gray;
}


.name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:50px;
}

.name img {
  width: 60px;
  height:auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileHeader
{
  height:48px;
  width:92vw;
  justify-content: space-between;
  top:0;
  position: fixed;
  color:white;
  display:none;
  background-color: rgba(52, 52, 52, 0.714);
  backdrop-filter: blur(10px);
  border-radius:100px;
  border-style: solid;
  border-color: rgb(41, 41, 41);
  border-width: 1px;
  margin-top:12px;
  margin-left:4vw;
  margin-right:4vw;
  z-index: 3;
  box-shadow: 0px 18px 28px -10px rgba(0,0,0,0.73);
}


.closeIcon {
  display: none;
  z-index: 90;
}

.closeIcon img{
  max-width:24px;
  max-height:24px;
}


.mobilemenuopen{
  position: absolute;
  transform: translateY(-105%);
  transition: transform 0.4s;
  margin-top:0px;
  margin-left:-100px !important;
  margin-right: -100px !important;
  padding-top:100px;
  padding-left:0px;
  padding-right:0px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.926);
  color: white;
  list-style: none;
  display: flex;
  flex-direction:column;
  align-items: center;
  align-content: center;
  justify-self: center;
  border:0px;
  margin-top: -18px;
  height:110vh;
}

.mobilemenu{
  width:40px;
  height:40px;
  padding:25px;
  display:flex;
  margin-right:10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #0000;
  border: none;
  z-index: 50;
}

.mobilemenu img{
  height:32px;
  width:32px;
}

#mobilename {
  justify-self: flex-start;
  display:flex;
  justify-content: center;
  align-items: center;
}

#mobilename img {
  width: 80px;
  height:auto;
  padding:25px;
}
  
  .mobilemenuopen a{
    text-decoration: none;
    color: white;
    font-size:28px;
    align-self:center;
    margin-left: auto;
    margin-right:auto;
  }
  
  .mobilemenuopen li{
    margin:25px;
  }


.mobilemenuopen li{
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  width:100vw;

}

  
  .showMenu {
    transform: translateY(0);
  }
  
  
  body{
    background-color: white;
    margin: 0px;
    font-family: leagueSpartan;
  }
  
  #foodtruckLandingPage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.558), rgba(0, 0, 0, 0.558)), url("images/foodTruckLanding.png");
    background-size:cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 0px center, 0px center;
    height: 100vh;
    display:flex;
    flex-direction: row;
    align-items: left;
    justify-content: flex-start;    
    color: white;
    padding-left:15%;
    padding-top: 85px;
}


  
#spotLandingPage{
  background-image: linear-gradient(rgba(0, 0, 0, 0.558), rgba(0, 0, 0, 0.558)), url("images/spotLanding.png");
  background-size:cover;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0px center, 0px center;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;    
  color: white;
  padding-left:15%;
  padding-top: 14vh;
  scroll-snap-align: start;
}

#foodtruckLandingPage h1{
    font-size: 52px;
    font-weight: 600;
}

#foodtruckLandingPage h2{
    font-size: 42px;
    font-weight: 400;
    margin-top: -15px;  
    max-width:35vw;
}

#projectInfo{
    margin-top:-5px;
    max-width:30vw;
    line-height:25px;
    background-color: #2b2b2bb2;
    padding:0px 25px 25px 25px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.679);
}

.projectDetail 
{
    margin-top: 60px;
    line-height:20px;
}

.projectDetail h3{
    font-size:24px;
    font-weight:400;
    line-height:1px;
}


#landingPageText{
  display: flex;
  flex-direction: column;
  max-width:50vw;
}

#foodtruckLandingPage p{
  font-size: 18px;
  font-weight:350;
}

#landingImage{
  height:850px; 
  width: auto; 
  margin-left: 250px; 
  position:absolute;
  right:15vw;
  top:10vh;
  display: none;
}  

#totop{
  position: fixed;
  right:45px;
  bottom:20px;
  border:none;
  background-color: rgba(0, 0, 0, 0);
  display:none;
  cursor: pointer;
}

#challenge{
    background-color: #EDEDED;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    margin-bottom:100px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#challenge img{
    height:200px;
    width: auto;
    border-radius: 10px;
    margin: 20px 15px 25px 40px;
}

#challenge p{
    line-height:20px;
}

.solution{
  display:flex;
  align-items:center;
  gap:50px;
  margin-left:-50px;
  margin-right:-50px;
}

.painPoints{
    margin-left:50px;
}

#foodtruckCaseStudy{
    margin-left:30%;
    margin-right:30%;
    padding-top:150px;
}

#foodtruckCaseStudy p{
    font-weight: 350;
    line-height:26px;
    font-size: 18px;
}

#foodtruckCaseStudy h1{
    font-size: 32px;
    font-weight: 550;
}

#foodtruckCaseStudy h2{
    font-size:28px;
    font-weight:450;
}

#foodtruckCaseStudy h3{
    font-size:22px;
    font-weight: 550;
}

#takeaways{
  margin-left:30%;
  margin-right:30%;
  margin-bottom:100px;
}

#takeaways p{
  font-weight: 350;
  line-height:26px;
  font-size: 18px;
}

#takeaways h1{
  font-size: 32px;
  font-weight: 550;
}

#takeaways h2{
  font-size:28px;
  font-weight:450;
}
strong{
    font-weight:600;
}

#journeymap{
  height:455px;
  width:auto;
}

#foodtrucksflow{
  height:auto; width: 500px; margin-left: auto; margin-right: auto;
}

#finalDesigns{
  margin-left:20%;
  margin-right:20%;
  margin-top:100px;
}
#finalDesigns p{
  font-weight: 350;
  line-height:26px;
  font-size: 18px;
}

#finalDesigns h1{
  font-size: 32px;
  font-weight: 550;
}

#finalDesigns h2{
  font-size:28px;
  font-weight:450;
}

#finalDesigns h3{
  font-size:22px;
  font-weight: 550;
}

.designShowcaseR
{
  display: flex;
  align-items: center;
  margin-top:125px;
  gap:40px;
}

.mobiledesignShowcase{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:50px;
  display:none;
}

.designShowcase
{
  display: flex;
  align-items: center;
  margin-top:50px;
}

.designShowcase img {
max-width:200px;
}

.designShowcaseR img
{
max-width:250px;
} 

.designShowcaseR p{
  margin-right:50px;
}

.designShowcaseR h3{
  margin-right:50px;
}


.designShowcaseL
{
  display: flex;
  align-items: center;
  margin-top:125px;
  gap:40px;
}

.designShowcaseL img
{
max-width:250px;
} 


.designShowcaseL p{
  margin-left:50px;
}

.designShowcaseL h3{
  margin-left:50px;
}
#footer{
  height:300px;
  background-color: #131313;
  color: white;
  padding-left: 20%;
  padding-right:20%;
  display: flex;
}

#footer h2
{
  font-weight:400;
  margin-bottom:25px;
  font-size:28px;
}

#footer h3
{
  font-weight:400;
  margin-top:25px;
}

#footerimg{
  height:175px;
  width:225px;
  margin-right: 50px;
  margin-top:50px;
  border-radius:30px;
}

#footer a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}


#footer a:hover{
  filter: brightness(60%)
}
#allFooterText
{
width:100%;
margin-top:50px;
}

#footerTitle{
  width:auto;
}

#footerText
{
  width: auto;  
  display:flex;
  justify-content: space-between;
  margin-top:25px;
}
@media screen and (max-height: 800px) and (max-width: 1700px) and (min-width:900px) {

  #foodtruckLandingPage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.558), rgba(0, 0, 0, 0.558)), url("images/foodTruckLanding.png");
    background-size:cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 0px center, 0px center;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;    
    color: white;
    padding-left:15%;
    padding-top: 10vh !important;
}

#foodtruckLandingPage h1{
    font-size: 44px !important;
    font-weight: 600;
}

#foodtruckLandingPage h2{
    font-size:28px !important; 
    font-weight: 400;
    margin-top: -15px; 
    max-width:40vw; 
}

#projectInfo{
    margin-top:5px;
    max-width:35vw;
    line-height:22px;
    background-color: #2b2b2bb2;
    padding:0px 25px 25px 25px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.679);
}


.projectDetail 
{
    margin-top: 40px !important;
    line-height:20px;
}

.projectDetail h3{
    font-size:22px !important;
    font-weight:400;
    line-height:0.1px;
}

.projectDetail p{
font-size: 16px !important;
}


#landingPageText{
    display: flex;
    flex-direction: column;
}
  
#landingImage{
  height:675px; 
  width: auto; 
  margin-left: 250px; 
  position:absolute;
  right:9vw;
  top:9vh;
  bottom:5vh;
  display: none;
}  
}
@media screen and (max-width: 850px) {

  .tabsgrid {
    display:none;
  }


  .mobileHeader{
    display:flex;
  }
  


  .mobilemenu{
    width:50px;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #0000;
    border: none;
    z-index: 8;
    
  }
  


  #mobilename {
    justify-self: flex-start;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  

  .mobilemenu img{
    height:32px;
    width:32px;
  }

  #mobilename img {
    width: 45px;
    height:auto;
    padding:25px;
  }
  
  #foodtruckLandingPage{
    background-image:  linear-gradient(#000000b9, #000000b9), url("images/foodTruckLanding.png") !important;
    background-size:cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 0px center, 0px center !important;
    height: 100vh;
    width:100% !important;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;    
    color: white;
    padding-left:20px !important;
    padding-top: 15vh;
    scroll-snap-align: start;

}

#foodtruckLandingPage h1{
    font-size: 30px !important;
    font-weight: 600;
}

#foodtruckLandingPage h2{
    font-size: 20px !important;
    font-weight: 400;
    margin-top: -15px;  
    max-width:400px !important;
}

#foodtruckLandingPage img{
    position: absolute;
    left: calc(50% - 30px) ;
    bottom: 10px;
    height:48px;
    width:48px;
  }

  #foodtruckLandingPage p{
    font-size: 16px;
    font-weight:350;
  }
  

#landingPageText{
  max-width:100% !important;
  }

#projectInfo{
    margin-top:20px;
    max-width:100vw !important;
    line-height:25px;  
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    backdrop-filter: none;
  }

.projectDetail 
{
    margin-top: 40px !important;
    line-height:20px;
    max-width:100% !important;
}

.projectDetail h3{
    font-size:20px !important;
    font-weight:400;
    line-height:1px;
}

.projectDetail p{
  font-size:16px !important;
}

#landingImage{
  display:none;
}

#foodtruckCaseStudy{
    margin-left:20px !important;
    margin-right:20px !important;
    padding-top:100px;
    background-color: white;

}



#challenge{
  background-color: #EDEDED;
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
  margin-bottom:100px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#challenge p{
  line-height:20px;
}

#challenge img{
  justify-self:center ;
  margin:0px;
  display:none;
}

#firstlookshowcase{
  max-width: 90% !important;
}

#foodtruckCaseStudy p{
  font-weight: 350;
  line-height:26px;
  font-size: 18px;
}

#foodtruckCaseStudy h1{
  font-size: 32px;
  font-weight: 550;
}

#foodtruckCaseStudy h2{
  font-size:28px;
  font-weight:450;
}

#foodtruckCaseStudy h3{
  font-size:22px;
  font-weight: 550;
}

#foodtruckCaseStudy ul{
  line-height:28px;
  font-size:16px;
  }

strong{
  font-weight:600;
}

#journeymap{
  width:95%;
  height:auto;
}

.solution{
  flex-direction: column;
  margin-left:0px;
  margin-right:0px;
}
#foodtrucksflow{
  height:auto; width: 95%;
}


#finalDesigns{
  margin:20px !important;
}

.designShowcase
{
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top:50px;
}

.mobiledesignShowcase{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:50px;
  max-width:100%;
}

.mobiledesignShowcase img{
  max-width:150px;
  height:auto;
}

.designShowcaseR
{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top:100px;
}


.designShowcaseR img
{
max-width:250px;
margin-bottom:20px;
} 

.designShowcaseR p{
  margin-right:0px;
}

.designShowcaseR h3{
  margin-right:0px;
}


.designShowcaseL
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:100px;
}

.designShowcaseL img
{
max-width:250px;
margin-bottom:20px;
} 
.designShowcaseL p{
  margin-left:0px !important;
}

.designShowcaseL h3{
  margin-left:0px !important;
}


#takeaways{
  margin-left:20px;
  margin-right:20px;
  margin-bottom:100px;
}

#footer{
  height:300px;
  background-color: #131313;
  color: white;
  padding-left:20px !important;
  padding-right:20px !important;
  display: flex;
  flex-wrap: wrap;
  margin-left:-20px;
}

#footerTitle{
  font-size:26px;
  margin-left:20px;
}
#footer h2
{
  font-weight:400;
  margin-top:42px;
  font-size:20px;
  margin-bottom:12px;
}

#footer h3
{
  font-weight:400;
  margin-top:42px;
  font-size:18px;
  margin-bottom:64px;
}

#footerimg{
  display:none;
}

#footer a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}


#footer a:hover{
  filter: brightness(60%)
}
#allFooterText
{
  
width:100%;
margin-top:32px;
background-color: #131313;
width:100vw !important;

}

#footerTitle{
  width:auto;
  background-color: #131313;
}

#footerText
{
  width: auto;  
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left:20px;
  margin-top:12px;
  background-color: #131313;
  width:100% !important;

}

}

  @media screen and (min-width:850px) and (max-width: 1700px){

    #footer{
      height:300px;
      background-color: #131313;
      color: white;
      padding-left: 15%;
      padding-right:15%;
      display: flex;
      align-items: space-evenly;
    }
    
  
  
  }
  
  @media screen and (min-width: 850px) and (max-width: 1625px){
  
    #foodtruckLandingPage{
      background-image: linear-gradient(rgba(0, 0, 0, 0.558), rgba(0, 0, 0, 0.558)), url("images/foodTruckLanding.png");
      background-size:cover;
      box-sizing: border-box;
      background-repeat: no-repeat;
      background-position: 0px center, 0px center;
      height: 100vh;
      display:flex;
      flex-direction: column;
      align-items: left;
      justify-content: flex-start;    
      color: white;
      padding-left:10%;
      padding-top: 10vh !important;
  }
  
  #foodtruckLandingPage h1{
      font-size: 48px;
      font-weight: 600;
      margin-top: 50px;
  }
  
  #foodtruckLandingPage h2{
      font-size: 32px;
      font-weight: 400;
      margin-top: -15px; 
      max-width:90vw; 
  }
  
  #projectInfo{
      margin-top:15px;
      max-width:35vw;
      line-height:22px;
      background-color: #2b2b2bb2;
      padding:0px 25px 25px 25px;
      border-radius: 20px;
      backdrop-filter: blur(10px);
      box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.679);
  }
  
  
  .projectDetail 
  {
      margin-top: 50px;
      line-height:20px;
  }
  
  .projectDetail h3{
      font-size:24px;
      font-weight:400;
      line-height:0.1px;
  }
  
  #landingPageText{
      display: flex;
      flex-direction: column;
      max-width:90vw;
  }
    
  #landingImage{
    height:675px; 
    width: auto; 
    margin-left: 250px; 
    position:absolute;
    right:9vw;
    top:9vh;
    bottom:5vh;
    display: none;
  }  
  
  #foodtruckCaseStudy{
    margin-left:25%;
    margin-right:25%;
  }

  #finalDesigns{
    margin-left:150px;
    margin-right:150px;
    margin-top:100px;
  }
  
  
  
  
  

  
  }
  
  
  @media screen and (min-width: 1900px) and (max-width:2250px){
  
    #foodtruckLandingPage{
      background-image: linear-gradient(rgba(0, 0, 0, 0.558), rgba(0, 0, 0, 0.558)), url("images/foodTruckLanding.png");
      background-size:cover;
      box-sizing: border-box;
      background-repeat: no-repeat;
      background-position: 0px center, 0px center;
      height: 100vh;
      display:flex;
      flex-direction: column;
      align-items: left;
      justify-content: flex-start;    
      color: white;
      padding-left:15%;
      padding-top: 12vh;
      scroll-snap-align: start;
  }
  
  #foodtruckLandingPage h1{
      font-size: 52px;
      font-weight: 600;
  }
  
  #foodtruckLandingPage h2{
      font-size: 42px;
      font-weight: 400;
      margin-top: -15px;  
  }
  
  #foodtruckLandingPage p{
    font-size: 20px;
    font-weight:350;
  }
  
  
  #projectInfo{
      margin-top:10px;
      max-width:25vw;
      line-height:25px;
      background-color: #2b2b2bb2;
      padding:0px 25px 0px 25px;
      border-radius: 20px;
      backdrop-filter: blur(10px);
      box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.679);
    }
  
  .projectDetail 
  {
      margin-top: 50px;
      line-height:24px;
  }
  
  .projectDetail h3{
      font-size:28px;
      font-weight:400;
      line-height:1px;
  }
  
  #landingImage{
    height:900px; 
    width: auto; 
    margin-left: 250px; 
    position:absolute;
    right:15vw;
    top:8vh;
    display: none;
  }  

  
  #foodtruckCaseStudy{
    margin-left:28%;
    margin-right:28%;
  }
  
  #journeymap{
    height:auto;
    width:100%;
  }
  
  
  
  #finalDesigns{
    margin-left:20vw;
    margin-right:20vw;
    margin-top:100px;
  }
  
  

  
  #finalDesigns img {
    max-width:290px;
  }
  
  
  }

  @media screen and (min-width: 2250px){

    #foodtruckLandingPage{
      background-image: linear-gradient(rgba(0, 0, 0, 0.558), rgba(0, 0, 0, 0.558)), url("images/foodTruckLanding.png");
      background-size:cover;
      box-sizing: border-box;
      background-repeat: no-repeat;
      background-position: 0px center, 0px center;
      height: 100vh;
      display:flex;
      flex-direction: column;
      align-items: left;
      justify-content: flex-start;    
      color: white;
      padding-left:14vw;
      padding-top: 15vh;
      scroll-snap-align: start;
  }
  
  #foodtruckLandingPage h1{
      font-size: 54px;
      font-weight: 600;
  }
  
  #foodtruckLandingPage h2{
      font-size: 44px;
      font-weight: 400;
      margin-top: -15px;  
  }
  
  #foodtruckLandingPage p{
    font-size: 22px;
    font-weight:350;
  }
  
  
  
  #projectInfo{
      margin-top:35px;
      width:30vw;
      line-height:27px;
      background-color: #2b2b2bb2;
      padding:0px 25px 25px 25px;
      border-radius: 20px;
      backdrop-filter: blur(10px);
      box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.679);
    }
  
  .projectDetail 
  {
      margin-top: 60px;
      line-height:26px;
  }
  
  .projectDetail h3{
      font-size:28px;
      font-weight:400;
      line-height:4px;
  }
  
  #foodtruckCaseStudy{
    margin-left:28%;
    margin-right:28%;
  }
  
  #landingImage{
    height:1000px; 
    width: auto; 
    margin-left: 250px; 
    position:absolute;
    right:15vw;
    top:10vh;
    display: none;
  }  

  .statistic img{
    height:auto;
    width:375px;
    margin-left: 50px;
  }
  
  #foodtruckdata1{
    margin-top: 25px;
    margin-right:auto;
   }
   
   #foodtruckdata2{
     margin-top: 25px;
   }
   
   #foodtruckdata3{
   
   margin-top:50px;
  width:100%;
   height:auto;
   }
  
   #finalDesigns{
    margin-left:24vw;
    margin-right:24vw;
  }
  
  #finalDesigns img {
    max-width:290px;
  }
  
  }
  