html{
scroll-behavior: smooth;
}


.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow:hidden;
}



#loader {    
  --r1: 154%;
  --r2: 68.5%;
  width:60px;
  height:60px;
  border-radius: 50%; 
  background:
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#408184 80%),
    radial-gradient(var(--r1) var(--r2) at bottom,#408184 79.5%,#0000 80%),
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#408184 80%),
    white;
  background-size: 50.5% 220%;
  background-position: -100% 0%,0% 0%,100% 0%;
  background-repeat:no-repeat;
  animation:wave 2s infinite linear;
}
@keyframes wave {
    33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
    66%  {background-position: -100%  66%,0%   66% ,100% 66% }
    100% {background-position:    0% 100%,100% 100%,200% 100%}
}



.tabsgrid {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 100px auto 550px;
    grid-template-areas: "name header tabs";
    background-image: linear-gradient(black, transparent);
    color: white;
    padding-right: 200px;
    position: fixed;
  
  }
  
  .header {
    grid-area: header;
    background-color: black;
  }
  
  .tabs {
    grid-area: tabs;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    max-width: 450px;
    color: white;
    margin-right: 250px;
  }
  
  
  .tabs a {
    color: white;
    font-size: 22px;
    text-decoration: none;
    font-weight:500;
  }
  
  a.tabsgrid:hover {
    color: gray;
  }
  
  a:hover {
    color: gray;
  }
  
  
  .name {
    grid-area: name;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
  }
  
  .name img {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  body{
    background-color: white;
    margin: 0px;
    font-family: leagueSpartan;
  }
  
  #foodtruckLandingPage{
    background-image: linear-gradient(90deg, black 200px, transparent 50%), url("images/foodTruckLanding.png");
    background-size:cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 0px center, 200px center;
    height: 100vh;
    display:flex;
    flex-direction: row;
    align-items: left;
    justify-content: flex-start;    
    color: white;
    padding-left:15%;
    padding-top: 85px;
}

#foodtruckLandingPage h1{
    font-size: 52px;
    font-weight: 600;
}

#foodtruckLandingPage h2{
    font-size: 42px;
    font-weight: 400;
    margin-top: -15px;  
}

#projectInfo{
    margin-top:20px;
    max-width:400px;
    line-height:25px;
}

.projectDetail 
{
    margin-top: 60px;
    line-height:20px;
}

.projectDetail h3{
    font-size:24px;
    font-weight:400;
    line-height:1px;
}

#landingPageText{
  display: flex;
  flex-direction: column;
}


#challenge{
    background-color: #EDEDED;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    margin-bottom:100px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

#challenge img{
    height:200px;
    width: auto;
    border-radius: 10px;
    margin-left: 40px;
}

#challenge p{
    line-height:20px;
}

.painPoints{
    margin-left:50px;
}

#foodtruckCaseStudy{
    margin-left:30%;
    margin-right:30%;
    padding-top:150px;
}

#foodtruckCaseStudy p{
    font-weight: 350;
    line-height:26px;
    font-size: 18px;
}

#foodtruckCaseStudy h1{
    font-size: 32px;
    font-weight: 550;
}

#foodtruckCaseStudy h2{
    font-size:28px;
    font-weight:450;
}

#foodtruckCaseStudy h3{
    font-size:22px;
    font-weight: 550;
}

strong{
    font-weight:600;
}

#finalDesigns{
  margin-left:25%;
  margin-right:25%;
  margin-top:100px;
}
#finalDesigns p{
  font-weight: 350;
  line-height:26px;
  font-size: 18px;
}

#finalDesigns h1{
  font-size: 32px;
  font-weight: 550;
}

#finalDesigns h2{
  font-size:28px;
  font-weight:450;
}

#finalDesigns h3{
  font-size:22px;
  font-weight: 550;
}

.designShowcaseR
{
  display: flex;
  align-items: center;
  margin-top:100px;
}

.designShowcase
{
  display: flex;
  align-items: center;
  margin-top:50px;
}

.designShowcase img {
max-width:200px;
}

.designShowcaseR img
{
max-width:250px;
} 

.designShowcaseR p{
  margin-right:50px;
}

.designShowcaseR h3{
  margin-right:50px;
}


.designShowcaseL
{
  display: flex;
  align-items: center;
  margin-top:100px;
}

.designShowcaseL img
{
max-width:250px;
} 

#landingImage{
  height:800px; 
  width: auto; 
  margin-left: 250px; 
  margin-top: 50px; 
  margin-right: 175px; 
  position:absolute;
  right:150px;
}  

.designShowcaseL p{
  margin-left:50px;
}

.designShowcaseL h3{
  margin-left:50px;
}
#footer{
  height:300px;
  background-color: #131313;
  color: white;
  padding-left: 20%;
  padding-right:20%;
  display: flex;
}

#footer h2
{
  font-weight:400;
  margin-bottom:25px;
  font-size:28px;
}

#footer h3
{
  font-weight:400;
  margin-top:25px;
}

#footerimg{
  height:175px;
  width:225px;
  margin-right: 50px;
  margin-top:50px;
  border-radius:30px;
}

#footer a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}


#footer a:hover{
  filter: brightness(60%)
}
#allFooterText
{
width:100%;
margin-top:50px;
}

#footerTitle{
  width:auto;
}

#footerText
{
  width: auto;  
  display:flex;
  justify-content: space-between;
  margin-top:25px;
}

@media screen and (max-width: 1700px){

  #footer{
    height:300px;
    background-color: #131313;
    color: white;
    padding-left: 15%;
    padding-right:15%;
    display: flex;
    align-items: space-evenly;
  }
  


}


@media screen and (max-width: 1600px){

  #foodtruckLandingPage{
    background-image: linear-gradient(90deg, black 200px, transparent 60%), url("images/foodtruckLanding.png");
    background-size:cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 0px center, 200px center;
    height: 100vh;
    display:flex;
    flex-direction: row;
    align-items: left;
    justify-content: flex-start;    
    color: white;
    padding-left:12%;
    padding-top: 85px;
}

#foodtruckLandingPage h1{
    font-size: 52px;
    font-weight: 600;
}

#foodtruckLandingPage h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -15px;  
}

#projectInfo{
    margin-top:10px;
    max-width:450px;
    line-height:22px;
}


.projectDetail 
{
    margin-top: 40px;
    line-height:20px;
}

.projectDetail h3{
    font-size:24px;
    font-weight:400;
    line-height:0.1px;
}

#landingPageText{
    display: flex;
    flex-direction: column;
}
  

#landingImage{
  height:auto; 
  width: 425px; 
  margin-left: 100px; 
  margin-right:20px;
  margin-top:-25px;
  align-self: center;
  justify-self: flex-end;
}  

#foodtruckCaseStudy{
  margin-left:25%;
  margin-right:25%;
  margin-top:150px;
}

.designShowcaseR
{
  display: flex;
  align-items: center;
  margin-top:100px;
  margin-left:-100px;
  margin-right:-100px;
}

.designShowcaseR img
{
max-width:225px;
} 

.designShowcaseR p{
  margin-right:50px;
}

.designShowcaseR h3{
  margin-right:50px;
}


.designShowcaseL
{
  display: flex;
  align-items: center;
  margin-top:100px;
  margin-left:-100px;
  margin-right:-100px;
}

.designShowcaseL img
{
max-width:225px;
} 

.designShowcaseL p{
  margin-left:50px;
}

.designShowcaseL h3{
  margin-left:50px;
}

}
