html{
  scroll-behavior: smooth;
}


.center {
  position: absolute;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height:100vh;
  width:100vw;
  margin: auto;
  overflow:hidden;
}



#loader {    
  --r1: 154%;
  --r2: 68.5%;
  width:60px;
  height:60px;
  border-radius: 50%; 
  background:
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#408184 80%),
    radial-gradient(var(--r1) var(--r2) at bottom,#408184 79.5%,#0000 80%),
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#408184 80%),
    white;
  background-size: 50.5% 220%;
  background-position: -100% 0%,0% 0%,100% 0%;
  background-repeat:no-repeat;
  animation:wave 2s infinite linear;
}
@keyframes wave {
    33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
    66%  {background-position: -100%  66%,0%   66% ,100% 66% }
    100% {background-position:    0% 100%,100% 100%,200% 100%}
}



.tabsgrid {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 100px auto 550px;
    grid-template-areas: "name header tabs";
    background-image: linear-gradient(black, transparent);
    color: white;
    padding-right: 200px;
    position: fixed;
  
  }
  
  .header {
    grid-area: header;
    background-color: black;
  }
  
  .tabs {
    grid-area: tabs;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    max-width: 450px;
    color: white;
    margin-right: 250px;
  }
  
  
  .tabs a {
    color: white;
    font-size: 22px;
    text-decoration: none;
    font-weight:500;
  }
  
  a.tabsgrid:hover {
    color: gray;
  }
  
  a:hover {
    color: gray;
  }
  
  
  .name {
    grid-area: name;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
  }
  
  .name img {
    width: 80px;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mobileHeader
  {
    height:100px;
    width:100vw;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(black, #000000a5 ,transparent);
    position: fixed;
    z-index: 2;
    color:white;
    display:none;
  }
  
  .closeIcon {
    display: none;
    z-index: 90;
  }
  
  .closeIcon img{
    max-width:24px;
    max-height:24px;
  }
  
  .mobilemenuopen{
    position: fixed;
    transform: translateY(-105%);
    transition: transform 0.4s;
    margin-top:0px;
    padding-top:100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.926);
    color: white;
    list-style: none;
    display: flex;
    flex-direction:column;
    align-items: center;
    max-width:100%;
    padding-right:50px;
    height:110vh;
  }
  
  
  .mobilemenu{
    width:50px;
    height:50px;
    padding:25px;
    display:flex;
    margin:25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #0000;
    border: none;
    z-index: 50;
  }
  
  .mobilemenu img{
    height:48px;
    width:48px;
  }
  
  #mobilename {
    justify-self: flex-start;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  #mobilename img {
    width: 80px;
    height:auto;
    padding:25px;
  }
  
  
  .mobilemenuopen a{
    text-decoration: none;
    color: white;
    font-size:28px;
    align-self:center;
    margin-left: auto;
    margin-right:auto;
  }
  
  .mobilemenuopen li{
    margin:25px;
  }
  
  .showMenu {
    transform: translateY(0);
  }
  

  
  #body{
    background: white;
    margin: 0px;
    font-family: leagueSpartan;
  }

.container{
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

  
#spotLandingPage{
    background-image: linear-gradient(90deg, black 200px, transparent 50%), url("images/spotLanding.png");
    background-size:cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 0px center, 200px center;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;    
    color: white;
    padding-left:15%;
    padding-top: 15vh;
    scroll-snap-align: start;
}

#spotLandingPage h1{
    font-size: 52px;
    font-weight: 600;
}

#spotLandingPage h2{
    font-size: 42px;
    font-weight: 400;
    margin-top: -15px;  
}

#spotLandingPage img{
    position: absolute;
    left: calc(50% - 30px) ;
    bottom: 30px;
    height:60px;
    width:60px;
  }

#projectInfo{
    margin-top:20px;
    width:30vw;
    line-height:25px;
  }

.projectDetail 
{
    margin-top: 60px;
    line-height:20px;
}

.projectDetail h3{
    font-size:24px;
    font-weight:400;
    line-height:1px;
}


#spotCaseStudy{
    margin-left:30%;
    margin-right:30%;
    padding-top:150px;
    background-color: white;
}

#challenge{
  background-color: #EDEDED;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  margin-bottom:100px;
  display:flex;
  flex-direction: row;
  align-items: center;
}

#challenge p{
  line-height:20px;
}

#spotCaseStudy p{
  font-weight: 350;
  line-height:26px;
  font-size: 18px;
}

#spotCaseStudy h1{
  font-size: 32px;
  font-weight: 550;
}

#spotCaseStudy h2{
  font-size:28px;
  font-weight:450;
}

#spotCaseStudy h3{
  font-size:22px;
  font-weight: 550;
}

#spotCaseStudy ul{
  line-height:28px;
  font-size:16px;
  }

strong{
  font-weight:600;
}

.imagetext{
  display:flex; 
  align-items: center;
}

.imagetext2{
  display:flex; 
  align-items: center;
  gap:50px;
}

.statistic{
    display:flex;
    align-items: center;
    margin-top:100px;
}

.analyze{
  display:flex;
  align-items: center;
  margin-top:150px;
  gap: 50px;
  margin-left:-20%;
  margin-right:-20% ;
}

#quotes{
  width:50% !important;
    height:auto;

}

.line{
  width:5px;
  height:150px;
  background-color: #DBDBDB;
  margin-right:25px;

}

.statistic img{
  width:75% !important;
    height:auto;
    margin-right: 50px;
}

#finalDesigns{
  margin-left:-50px;
  margin-right:-50px;
}

.designShowcase
{
    display: flex;
    align-items: center;
    margin-top:50px;
}

.designShowcaseR
{
  display: flex;
  align-items: center;
  margin-top:100px;
}


.designShowcaseR img
{
max-width:250px;
} 

.designShowcaseR p{
  margin-right:50px;
}

.designShowcaseR h3{
  margin-right:50px;
}

.wideshowcase{
  width:100%;
}

.designShowcaseL
{
  display: flex;
  align-items: center;
  margin-top:100px;
}

.designShowcaseL img
{
max-width:250px;
} 
.designShowcaseL p{
  margin-left:50px;
}

.designShowcaseL h3{
  margin-left:50px;
}

#spotdata1{
  margin-right: 96px; margin-top: 25px;
}

#spotdata2{
  margin-top: 25px;
}

#spotdata3{

margin-top:50px;
}

#footer{
  height:300px;
  background-color: #131313;
  color: white;
  padding-left: 20%;
  padding-right:20%;
  display: flex;
}

#footer h2
{
  font-weight:400;
  margin-bottom:25px;
  font-size:28px;
}

#footer h3
{
  font-weight:400;
  margin-top:25px;
}

#footerimg{
  height:175px;
  width:225px;
  margin-right: 50px;
  margin-top:50px;
  border-radius:30px;
}

#footer a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}


#footer a:hover{
  filter: brightness(60%)
}
#allFooterText
{
width:100%;
margin-top:50px;
}

#footerTitle{
  width:auto;
}

#footerText
{
  width: auto;  
  display:flex;
  justify-content: space-between;
  margin-top:25px;
}

@media screen and (max-height: 800px) and (min-width:900px) and (max-width: 1700px)  {

  #spotLandingPage{
    background-image: linear-gradient(90deg, black 300px, transparent 60%), url("images/spotLanding.png");
    background-size:cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 0px center, 250px center;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;    
    color: white;
    padding-left:15%;
    padding-top: 10vh !important;
}

#spotLandingPage h1{
    font-size: 44px !important;
    font-weight: 600;
}

#spotLandingPage h2{
    font-size:28px !important; 
    font-weight: 400;
    margin-top: -15px; 
    max-width:40vw; 
}

#projectInfo{
    margin-top:5px;
    max-width:35vw;
    line-height:22px;
}


.projectDetail 
{
    margin-top: 40px !important;
    line-height:20px;
}

.projectDetail h3{
    font-size:22px !important;
    font-weight:400;
    line-height:0.1px;
}
.statistic img{
  width: 60% !important;
    height:auto;
    margin-right: 50px;
}
.projectDetail p{
font-size: 16px !important;
}


#landingPageText{
    display: flex;
    flex-direction: column;
}
  
#landingImage{
  height:675px; 
  width: auto; 
  margin-left: 250px; 
  position:absolute;
  right:9vw;
  top:9vh;
  bottom:5vh;
}  
}

@media screen and (max-width: 850px) {

  .tabsgrid {
    display:none;
  }


  .mobileHeader{
    display:flex
  }
  
  .mobilemenu{
    width:50px;
    height:50px;
    padding:25px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }


  #mobilename {
    justify-self: flex-start;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .mobilemenu img{
    height:36px;
    width:36px;
  }
  
  #mobilename img {
    width: 60px;
    height:auto;
    padding:25px;
  }
  
  #spotLandingPage{
    background-image: linear-gradient(#000000ca, #000000ca), url("images/spotLanding.png") !important;
    background-size:cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 0px center, -250px center !important;
    height: 100vh;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;    
    color: white;
    padding-left:20px !important;
    padding-top: 15vh;
    scroll-snap-align: start;
    

}

#spotLandingPage h1{
    font-size: 34px !important;
    font-weight: 600;
    margin-top:-10px;
}

#spotLandingPage h2{
    font-size: 22px !important;
    font-weight: 400;
    margin-top: -20px;  
}

#spotLandingPage img{
    position: absolute;
    left: calc(50% - 30px) ;
    bottom: 0px;
    height:60px;
    width:60px;
  }

#projectInfo{
    margin-top:20px;
    width:90vw !important;
    line-height:25px;
  }

.projectDetail 
{
    margin-top: 20px !important;
    line-height:20px;
    width:85vw !important;
}

.projectDetail h3{
    font-size:20px !important;
    font-weight:400;
    line-height:1px;
}

.projectDetail p{
  font-size:16px !important;
}


#spotCaseStudy{
    margin-left:20px !important;
    margin-right:20px !important;
    padding-top:100px;
    background-color: white;
}

#challenge{
  background-color: #EDEDED;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  margin-bottom:100px;
  display:flex;
  flex-direction: row;
  align-items: center;
}

.imagetext{
  display:flex; 
  flex-direction: column-reverse;
  align-items: center;
}

.line{
display:none;
}

.arrow{
  display:none;
}

.imagetext2{
  display:flex; 
  flex-direction: column;
  gap:0px;
  align-items: center;
  margin-top:25px;
}

#challenge p{
  line-height:20px;
}

#spotCaseStudy p{
  font-weight: 350;
  line-height:26px;
  font-size: 18px;
}

#spotCaseStudy h1{
  font-size: 32px;
  font-weight: 550;
}

#spotCaseStudy h2{
  font-size:28px;
  font-weight:450;
}

#spotCaseStudy h3{
  font-size:22px;
  font-weight: 550;
}

#spotCaseStudy ul{
  line-height:28px;
  font-size:16px;
  }

strong{
  font-weight:600;
}

.statistic{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:100px;
}


.analyze{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top:100px;
  margin-left:0px;
  margin-right:0px;
}

.statistic img{
    height:auto;
    width:85% !important;
    margin-right: 50px;
}

#finalDesigns{
  margin:0px !important;
}

.designShowcase
{
    display: flex;
    align-items: center;
    margin-top:50px;
}

.designShowcaseR
{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top:100px;
}


.designShowcaseR img
{
max-width:250px;
margin-bottom:20px;
} 

.designShowcaseR p{
  margin-right:0px;
}

.designShowcaseR h3{
  margin-right:0px;
}


.designShowcaseL
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:100px;
}

.designShowcaseL img
{
max-width:250px;
margin-bottom:20px;
} 
.designShowcaseL p{
  margin-left:0px !important;
}

.designShowcaseL h3{
  margin-left:0px !important;
}

#spotdata1{
  margin:0px;
  width:48% !important;
  height:auto !important;
}


#spotdata2{
  margin:0px;
  width:48% !important;
  height:auto !important;

}

#spotdata3{

  margin:0px;

}

#footer{
  height:300px;
  background-color: #131313;
  color: white;
  padding-left:20px !important;
  padding-right:20px !important;
  display: flex;
  flex-wrap: wrap;
  margin-left:-20px;
}

#footerTitle{
  font-size:26px;
  margin-left:20px;
}
#footer h2
{
  font-weight:400;
  margin-top:42px;
  font-size:20px;
  margin-bottom:12px;
}

#footer h3
{
  font-weight:400;
  margin-top:42px;
  font-size:18px;
  margin-bottom:64px;
}

#footerimg{
  display:none;
}

#footer a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}


#footer a:hover{
  filter: brightness(60%)
}
#allFooterText
{
  
width:100%;
margin-top:32px;
background-color: #131313;
width:100vw !important;

}

#footerTitle{
  width:auto;
  background-color: #131313;
}

#footerText
{
  width: auto;  
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left:20px;
  margin-top:12px;
  background-color: #131313;
  width:100% !important;

}

}


@media screen and (max-width: 1700px){

  #footer{
    height:300px;
    background-color: #131313;
    color: white;
    padding-left: 15%;
    padding-right:15%;
    display: flex;
    align-items: space-evenly;
  }
  


}

@media screen and (min-width: 850px) and (max-width: 1675px){

  #spotLandingPage{
    background-image: linear-gradient(90deg, black 300px, transparent 60%), url("images/spotLanding.jpeg");
    background-size:cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 0px center, 250px center;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;    
    color: white;
    padding-left:15%;
    padding-top: 10vh;
}

#spotLandingPage h1{
    font-size: 48px;
    font-weight: 600;
}

#spotLandingPage h2{
    font-size: 32px;
    font-weight: 400;
    margin-top: -15px; 
    max-width:800px; 
}

#projectInfo{
    margin-top:5px;
    width:35vw;
    line-height:22px;
}


.projectDetail 
{
    margin-top: 50px;
    line-height:20px;
}

.projectDetail h3{
    font-size:24px;
    font-weight:400;
    line-height:0.1px;
}

#landingPageText{
    display: flex;
    flex-direction: column;
}
  

#landingImage{
  height:auto; 
  width: 325px; 
  margin-left: 100px; 
  margin-right: -400px; 
  margin-top:-25px;
  align-self: center;
  justify-self: flex-end;
}  

#spotCaseStudy{
  margin-left:25%;
  margin-right:25%;
}

#finalDesigns{
  margin-left:-25px;
  margin-right:-25px;
}



.designShowcaseR
{
  display: flex;
  align-items: center;
  margin-top:100px;

}

.designShowcaseR img
{
max-width:225px;
} 

.designShowcaseR p{
  margin-right:50px;
}

.designShowcaseR h3{
  margin-right:50px;
}


.designShowcaseL
{
  display: flex;
  align-items: center;
  margin-top:100px;
}

.designShowcaseL img
{
max-width:225px;
} 

.designShowcaseL p{
  margin-left:50px;
}

.designShowcaseL h3{
  margin-left:50px;
}

#spotdata1{
 margin-top: 25px;
 margin-right:auto;
}

#spotdata2{
  margin-top: 25px;
}

#spotdata3{

margin-top:50px;
max-width:100%;
height:auto;
}


}


@media screen and (min-width: 1900px){

  #spotLandingPage{
    background-image: linear-gradient(90deg, black 250px, transparent 55%), url("images/spotLanding.png");
    background-size:cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 0px center, 200px center;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;    
    color: white;
    padding-left:15vw;
    padding-top: 15vh;
    scroll-snap-align: start;
}

#spotLandingPage h1{
    font-size: 52px;
    font-weight: 600;
}

#spotLandingPage h2{
    font-size: 42px;
    font-weight: 400;
    margin-top: -15px;  
}

#spotLandingPage p{
  font-size: 20px;
  font-weight:350;
}


#spotLandingPage img{
    position: absolute;
    left: calc(50% - 30px) ;
    bottom: 30px;
    height:60px;
    width:60px;
  }

#projectInfo{
    margin-top:20px;
    width:30vw;
    line-height:25px;
  }

.projectDetail 
{
    margin-top: 60px;
    line-height:24px;
}

.projectDetail h3{
    font-size:28px;
    font-weight:400;
    line-height:1px;
}

#spotCaseStudy{
  margin-left:28%;
  margin-right:28%;
}

.statistic img{
  height:auto;
  width:375px;
  margin-right: 50px;
}

#spotdata1{
  margin-top: 25px;
  margin-right:auto;
 }
 
 #spotdata2{
   margin-top: 25px;
 }
 
 #spotdata3{
 
 margin-top:50px;
width:100%;
 height:auto;
 }

 #finalDesigns{
  margin-left:-25px;
  margin-right:-25px;
}

#finalDesigns img {
  max-width:100%;
}

.designShowcaseL img{
max-width: 35% !important;
}

.designShowcaseR img{
  max-width: 35% !important;
  }

@media screen and (min-width: 2250px){

  #spotLandingPage{
    background-image: linear-gradient(90deg, black 300px, transparent 45%), url("images/spotLanding.png");
    background-size:cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 0px center, 300px center;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;    
    color: white;
    padding-left:12vw;
    padding-top: 15vh;
    scroll-snap-align: start;
}

#spotLandingPage h1{
    font-size: 54px;
    font-weight: 600;
}

#spotLandingPage h2{
    font-size: 44px;
    font-weight: 400;
    margin-top: -15px;  
}

#spotLandingPage p{
  font-size: 22px;
  font-weight:350;
}


#spotLandingPage img{
    position: absolute;
    left: calc(50% - 30px) ;
    bottom: 30px;
    height:60px;
    width:60px;
  }

#projectInfo{
    margin-top:35px;
    width:30vw;
    line-height:27px;
  }

.projectDetail 
{
    margin-top: 60px;
    line-height:26px;
}

.projectDetail h3{
    font-size:28px;
    font-weight:400;
    line-height:4px;
}

#spotCaseStudy{
  margin-left:28%;
  margin-right:28%;
}

.statistic img{
  height:auto;
  width:375px;
  margin-right: 50px;
}

#spotdata1{
  margin-top: 25px;
  margin-right:auto;
 }
 
 #spotdata2{
   margin-top: 25px;
 }
 
 #spotdata3{
 
 margin-top:50px;
width:100%;
 height:auto;
 }

 #finalDesigns{
  margin-left:-25px;
  margin-right:-25px;
}

#finalDesigns img {
  max-width:100%;
}

}

}