html{
  scroll-behavior: smooth;
}


.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow:hidden;
}



#loader {    
  --r1: 154%;
  --r2: 68.5%;
  width:60px;
  height:60px;
  border-radius: 50%; 
  background:
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#408184 80%),
    radial-gradient(var(--r1) var(--r2) at bottom,#408184 79.5%,#0000 80%),
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#408184 80%),
    white;
  background-size: 50.5% 220%;
  background-position: -100% 0%,0% 0%,100% 0%;
  background-repeat:no-repeat;
  animation:wave 2s infinite linear;
}
@keyframes wave {
    33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
    66%  {background-position: -100%  66%,0%   66% ,100% 66% }
    100% {background-position:    0% 100%,100% 100%,200% 100%}
}



.tabsgrid {
  width: 60vw;
  height: 55px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(52, 52, 52, 0.714);
  backdrop-filter: blur(10px);
  border-radius:100px;
  border-style: solid;
  border-color: rgb(41, 41, 41);
  border-width: 1px;
  margin-top:15px;
  color: white;
  position: fixed;
  left: 20vw;
  z-index: 3;
  box-shadow: 0px 18px 28px -10px rgba(0,0,0,0.73);
}

.header {
  grid-area: header;
  background-color: black;
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width: 275px;
  color: white;
  margin-right:50px;
}


.tabs a {
  color: white;
  font-size: 22px;
  text-decoration: none;
  font-weight:350;
}

a.tabsgrid:hover {
  color: gray;
}

a:hover {
  color: gray;
}


.name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:50px;
}

.name img {
  width: 60px;
  height:auto;
  display: flex;
  align-items: center;
  justify-content: center;

}


.mobileHeader
{
  height:48px;
  width:92vw;
  justify-content: space-between;
  top:0;
  position: fixed;
  color:white;
  display:none;
  background-color: rgba(52, 52, 52, 0.714);
  backdrop-filter: blur(10px);
  border-radius:100px;
  border-style: solid;
  border-color: rgb(41, 41, 41);
  border-width: 1px;
  margin-top:12px;
  margin-left:4vw;
  margin-right:4vw;
  z-index: 3;
  box-shadow: 0px 18px 28px -10px rgba(0,0,0,0.73);
}


.closeIcon {
  display: none;
  z-index: 90;
}

.closeIcon img{
  max-width:24px;
  max-height:24px;
}

.mobilemenuopen{
  position: fixed;
  transform: translateY(-105%);
  transition: transform 0.4s;
  margin-top:0px;
  margin-left:0px;
  padding-top:100px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.926);
  color: white;
  list-style: none;
  display: flex;
  flex-direction:column;
  align-items: center;
  max-width:100%;
  margin:0px 0px 0px 0px;
  margin-left:-4vw;
  margin-right:-4vw;
  margin-top: -18px;
  height:110vh;
}


.mobilemenu{
  width:40px;
  height:40px;
  padding:25px;
  display:flex;
  margin-right:10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #0000;
  border: none;
  z-index: 50;
}

.mobilemenu img{
  height:32px;
  width:32px;
}

#mobilename {
  justify-self: flex-start;
  display:flex;
  justify-content: center;
  align-items: center;
}

#mobilename img {
  width: 80px;
  height:auto;
  padding:25px;
}


.mobilemenuopen a{
  text-decoration: none;
  color: white;
  font-size:28px;
  align-self:center;
  margin-left: auto;
  margin-right:auto;
}

.mobilemenuopen li{
  margin:25px;
}

.showMenu {
  transform: translateY(0);
}






#backgroundvid {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


#backgroundvidmobile {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display:none;
}

body{
  height:100%;
  background-color: black;
  margin: 0px;
  font-family: leagueSpartan;

}



#landingScreen{
  background-color: rgba(0, 12, 29, 0.794);
  height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  scroll-snap-align: start;

}

#landingScreen h1{
  font-size:64px;
  font-weight:450;
}

#landingScreen h2{
  font-size: 42px;
  font-weight:350;
}

#landingText {
  position:absolute;
  top:auto;
  bottom:auto;
  text-align: center;
  align-self:center;
  justify-self: center;
}


#workarrow{
  position: absolute;
  bottom: 20px;
  border:none;
  background-color: #0000;
  cursor: pointer;
  height:60px;
  width:60px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#workarrow img{
  height:auto;
  width:60px;
}

#work{
  scroll-snap-align: start; 
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  padding-left:20%;
  padding-right:20%;
  max-width: 100vw;
  padding-bottom:150px;


  background-image: url("images/topobg.png");
  background-position: center 300px;
  background-attachment:fixed;

  background-size: cover;

    }

#mobilework{
  display:none;
}

#workCards{
  justify-content: left;
  align-items: left;
}

#work h1{
color: white;
font-size:52px;
align-self: flex-start;
width: 950px;
font-weight: 600;
}

#work h3{
    font-size:22px;
    font-weight: 400;
    line-height: 25px;
  }


.workCard{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 50px 40px 50px;
  color: white;
  height:450px;
  width: 950px;
}

.mobileWorkCard{
  display:none;
}

.workCard button{
  font-family: leagueSpartan;
  width: 252px;
  height: 60px;
  background: #408184;
  border: none;
  border-radius: 34px;
  color: white;
  font-size: 22px;
  margin: 0px 50px 50px 50px;
}

.workCard button:hover{
  cursor: pointer;
  filter: brightness(60%)
}

.workCard h2{
  margin:50px;
  font-size: 42px;
  font-weight:600;
}

.workCard p{
  margin:50px 0px 50px 50px;
  font-size:24px;
  line-height: 1.2;
}

.imgcontainer
{
  width: 400px;
  height: 300px;
  display:flex;
  border-radius: 30px;
  object-fit:contain;
  box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.715);
  background-color: #2d2d2d98;
  backdrop-filter: blur(5px);
  padding:15px;
}

.workcardtext{
  width:550px;
}

.workCard img{
height:300px;
width:auto;
margin-left:auto;
margin-right:auto;
}

#otherWorkCards{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
  color: white;
  width: 950px;
}

#otherWorkCards a {
text-decoration: none;
color:white;
}

.otherWorkCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  height:350px;
  width: 350px;
  margin-top: 50px;
  margin-bottom: 50px;
}


.otherWorkCard:hover{
  cursor: pointer;
  filter: brightness(60%)
}


.otherWorkCard img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius:30px;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

#footer{
  height:300px;
  background-color: #131313;
  color: white;
  padding-left: 20%;
  padding-right:20%;
  display: flex;
}

#footerTitle{
  font-size:32px;
}

#footer h2
{
  font-weight:400;
  margin-bottom:25px;
  font-size:28px;
}

#footer h3
{
  font-weight:400;
  margin-top:25px;
}

#footerimg{
  height:175px;
  width:225px;
  margin-right: 50px;
  margin-top:50px;
  border-radius:30px;
}

#footer a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}


#footer a:hover{
  filter: brightness(60%)
}
#allFooterText
{
width:100%;
margin-top:50px;

}

#footerTitle{
  width:auto;
}

#footerText
{
  width: auto;  
  display:flex;
  justify-content: space-between;
  margin-top:25px;
}

@media screen and (max-width: 850px) {

  .tabsgrid {
    display:none;
  }


  .mobileHeader{
    display:flex;
  }
  


  .mobilemenu{
    width:50px;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #0000;
    border: none;
    z-index: 8;
    
  }
  


  #mobilename {
    justify-self: flex-start;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  

  .mobilemenu img{
    height:32px;
    width:32px;
  }

  #mobilename img {
    width: 45px;
    height:auto;
    padding:25px;
  }
 
  #backgroundvidmobile {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    display:initial;
  }



#backgroundvid {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display:none;
}

#landingScreen{
  background-color: rgba(0, 13, 30, 0.787);
 
}
#landingScreen img{
  height:48px !important;
  width:48px !important;
 
}
  
  #landingScreen h1{
    font-size:42px;
    font-weight:450;
    margin-left:20px;
    margin-right:20px;
  }
  
  #landingScreen h2{
    font-size: 24px;
    font-weight:350;
    margin-left:20px;
    margin-right:20px;    
    line-height: 30px;
  }
  
#body{
  height:100%;
  max-width:100vw;
  background-color: black;
  margin: 0px;
  font-family: leagueSpartan;

}

#work{
display:none;
}

#mobilework{
  display:initial;
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left:12px;
  padding-right:12px;
  max-width: 100vw;
  padding-bottom:48px;
  overflow-x: hidden;
  padding-top: 0px;
  background-repeat:no-repeat;
  background-image: url("images/topobgmobile.png");
  padding-top:96px;
  background-size: auto 100%;
  background-attachment: scroll;
}

.workTitle
{
  justify-self: flex-start;
  align-self: flex-start;
}


#workCards{
  display:flex;
  flex-direction: column;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:48px;
}

#mobilework h1{
color: white;
font-size:28px;
font-weight: 600;
}

#mobilework h3{
    font-size:22px;
    font-weight: 400;
    line-height: 25px;
  }


.workCard{
  display:none;
}

.mobileWorkCard{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
margin-top:56px;
margin-bottom:56px;
border-radius: 15px;
}

.mobileWorkCard button{
  font-family: leagueSpartan;
  margin: 18px 0px 0px 0px;
  width:100%;
  height: 40px;
  background: #408184;
  border: none;
  border-radius: 34px;
  color: white;
  font-size: 18px;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  
}

.mobileWorkCard a{
  width:100%;
  padding-left:12px;
  padding-right:12px;

}

.mobileworkCard button:hover{
  cursor: pointer;
  filter: brightness(60%)
}


.mobileWorkCard h2{
  font-size: 32px;
  font-weight:600;
  margin:18px 0 12px 12px;
}

.mobileWorkCard p{
  margin:8px 0px 12px 12px;
  font-size:22px;
  line-height: 24px;
}

.imgcontainer
{
  width: auto;
  height: 300px;
  display:flex;
  border-radius: 30px;
  object-fit:contain;
  box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.715);
  background-color: #2d2d2d98;
  backdrop-filter: blur(5px);
  padding:15px;
}

.mobileWorkCard img{
  width: 100%;
  height: auto;
  border-radius: 30px;
  object-fit: contain;
}

#otherWorkCards{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  color: white;
  margin-bottom:0px;
}

#otherWorkCards h3 {
text-decoration: none;
color:white;
font-size:16px;
}

.otherWorkCard{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: center;
  justify-items: center;
  color: white;
  width:45%;
  margin-top:24px;
  margin-bottom:12px;
}

.otherWorkCard a{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: flex-start;
}


.otherWorkCard:hover{
  cursor: pointer;
  filter: brightness(60%)
}


.otherWorkCard img{
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius:30px;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

#footer{
  height:auto;
  background-color: #131313;
  color: white;
  display: flex;
  padding-left:20px;
  padding-right:20px;
  flex-wrap: wrap;
}

#footerTitle{
  font-size:26px;
  background-color: #131313;
}
#footer h2
{
  font-weight:400;
  margin-top:42px;
  font-size:20px;
  margin-bottom:12px;
  background-color: #131313;
}

#footer h3
{
  font-weight:400;
  margin-top:42px;
  font-size:18px;
  margin-bottom:64px;
  background-color: #131313;

}

#footerimg{
  display:none;
}

#footer a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  background-color: #131313;
}


#footer a:hover{
  filter: brightness(60%)
}
#allFooterText
{
  
width:100%;
margin-top:32px;
background-color: #131313;
}

#footerTitle{
  width:auto;
  background-color: #131313;
}

#footerText
{
  width: auto;  
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top:12px;
  background-color: #131313;
}

.tabsgrid {
  display:none;
}


.mobileHeader{
  display:flex
}



#mobilename {
  justify-self: flex-start;
  display:flex;
  justify-content: center;
  align-items: center;
}





.workCard{
  display:none !important;
}

}


@media screen and (min-width: 850px) and (max-width: 1700px){

  .workCard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 50px 20px 50px;
    color: white;
    height:450px;
    width: 950px;
  }
  
  
  #footer{
    height:300px;
    background-color: #131313;
    color: white;
    padding-left: 15%;
    padding-right:15%;
    display: flex;
    align-items: space-evenly;
  }
  


}