html{
  scroll-behavior: smooth;
}

#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;

}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow:hidden;
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}




.tabsgrid {
  width: 100vw;
  height: 100px;
  display: grid;
  grid-template-columns: 100px auto 550px;
  grid-template-areas: "name header tabs";
  background-image: linear-gradient(black, transparent);
  color: white;
  padding-right: 200px;
  position: fixed;

}

.header {
  grid-area: header;
  background-color: black;
}

.tabs {
  grid-area: tabs;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  max-width: 450px;
  color: white;
  margin-right: 250px;
}


.tabs a {
  color: white;
  font-size: 22px;
  text-decoration: none;
  font-weight:500;
}

a.tabsgrid:hover {
  color: gray;
}

a:hover {
  color: gray;
}


.name {
  grid-area: name;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 250px;
}

.name img {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}






#backgroundvid {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


body{
  height:100%;
  background-color: black;
  margin: 0px;
  font-family: leagueSpartan;

}



#landingScreen{
  background-color: rgba(0, 0, 0, 0.512);
  height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  scroll-snap-align: start;

}

#landingScreen h1{
  font-size:64px;
  font-weight:400;
}

#landingScreen h2{
  font-size: 42px;
  font-weight:300;
}

#landingText {
  position:absolute;
  top:auto;
  bottom:auto;
  text-align: center;
  align-self:center;
  justify-self: center;
}

#landingScreen img{
  position: absolute;
  bottom: 30px;
  height:60px;
  width:60px;
}

#work{
  scroll-snap-align: start; 
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  padding-left:20%;
  padding-right:20%;
  max-width: 100vw;
  padding-bottom:150px;


  background-image: url("images/topobg.jpeg");
  background-position: center 300px;
  background-attachment:fixed;

  background-size: cover;

    }



#workCards{
  justify-content: left;
  align-items: left;
}

#work h1{
color: white;
font-size:52px;
align-self: flex-start;
width: 950px;
font-weight: 600;
}

#work h3{
    font-size:22px;
    font-weight: 400;
    line-height: 25px;
  }


.workCard{
  display: flex;
  justify-content: center;
  margin: 50px;
  color: white;
  height:450px;
  width: 950px;
}

.workCard button{
  font-family: leagueSpartan;
  width: 252px;
  height: 60px;
  position: absolute;
  background: #408184;
  border: none;
  border-radius: 34px;
  color: white;
  font-size: 22px;
  margin: 0px 50px 50px 50px;
}

.workCard button:hover{
  cursor: pointer;
  filter: brightness(60%)
}

.workCard h2{
  margin:50px;
  font-size: 42px;
  font-weight:600;
}

.workCard p{
  margin:50px 0px 50px 50px;
  font-size:24px;
}

.workCard img{
  width: 400px;
  height: 300px;
  border-radius: 30px;
  object-fit: cover;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

#otherWorkCards{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
  color: white;
  width: 950px;
}

#otherWorkCards a {
text-decoration: none;
color:white;
}

.otherWorkCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  height:350px;
  width: 350px;
  margin-top: 50px;
  margin-bottom: 50px;
}


.otherWorkCard:hover{
  cursor: pointer;
  filter: brightness(60%)
}


.otherWorkCard img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius:30px;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

#footer{
  height:300px;
  background-color: #131313;
  color: white;
  padding-left: 20%;
  padding-right:20%;
  display: flex;
}

#footer h2
{
  font-weight:400;
  margin-bottom:25px;
  font-size:28px;
}

#footer h3
{
  font-weight:400;
  margin-top:25px;
}

#footerimg{
  height:175px;
  width:225px;
  margin-right: 50px;
  margin-top:50px;
  border-radius:30px;
}

#footer a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}


#footer a:hover{
  filter: brightness(60%)
}
#allFooterText
{
width:100%;
margin-top:50px;

}

#footerTitle{
  width:auto;
}

#footerText
{
  width: auto;  
  display:flex;
  justify-content: space-between;
  margin-top:25px;
}

@media screen and (max-width: 1700px){

  #footer{
    height:300px;
    background-color: #131313;
    color: white;
    padding-left: 15%;
    padding-right:15%;
    display: flex;
    align-items: space-evenly;
  }
  


}